body {
    font-family: Arial;
}

h1 {
  text-align: center;
}
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width: 100%;
    padding-right: 20px;
  }
  
  .column {
    flex: 33.33%;
  }

  h2 {
    text-align: center;
  }

  .setosa {
    fill: #003f5c;
    opacity: 50%;
  }

  .versicolor {
    fill:#bc5090;
    opacity: 50%;
  }

  .virginica {
    fill: #ffa600;
    opacity: 50%;
  }

 